@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Signika:wght@400&display=swap');

:root {
  --color-main-1: #1da1f2;
  --color-main-2: #aed1f2;
  --color-main-3: #fffaf0;
  --color-main-1-transparent: rgba(29, 161, 242, 0.5);
  --color-main-2-transparent: rgba(174, 209, 242, 0.5);
  --color-main-3-transparent: rgba(255, 250, 240, 0.5);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Signika', sans-serif;
  color: var(--color-main-3);
  height: 100%;
}

.App {
  background: var(--color-main-1);
  background: linear-gradient(111deg, var(--color-main-2), var(--color-main-1));
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.tweets-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 1rem;
  box-sizing: border-box;
}

h1 {
  font-family: 'Oswald', sans-serif;
}

@media screen and (min-width: 800px) {
  .tweets-container {
    padding: 1rem 6rem;
    box-sizing: border-box;
  }
}
